[ng\:cloak],[ng-cloak],.ng-cloak{display:none !important}

#main-content {
    width: 780px;
}

.progress {
    position: relative;
}
.progress .text {
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}
.progress-bar.no-animation {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}
.progress-bar.xp-bar {
    background-color: #5bc0de;
}
.progress-bar.energy-bar {
    background-color: #f89406;
}
.progress-bar.heat-bar {
    background-color: #ee5f5b;
}
.btn.btn-disabled {
    cursor: default;
    background-color: transparent;
    color: black;
}
.btn:focus {
    background: inherit !important;
    border: inherit !important;
    color: inherit !important;
}
.well .stat-bar .progress {
    background-color: #272b30;
}
.well .stat-bar {
    position: relative;
    padding: 0px 15px;
}
.well .stats-row {
    margin: 0px 0px 10px 5px;
}

.level-icon {
    background-image: url("../images/xp.png");
}
.energy-icon {
    background-image: url("../images/energy.png");
}
.heat-icon {
    background-image: url("../images/heat.png");
}
.health-icon {
    background-image: url("../images/health.png");
}
.cha-icon {
    background-image: url("../images/cha.png");
}
.dex-icon {
    background-image: url("../images/dex.png");
}
.int-icon {
    background-image: url("../images/int.png");
}
.str-icon {
    background-image: url("../images/str.png");
}
.inline-icon {
    height: 18px;
}
.inline-stat-icon {
    display: inline-block;
}
.icon {
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
    font-weight: bold;
    height: 40px;
    width: 40px;
    line-height: 45px;
    text-align: center;
}
.stat-bar .icon {
    left: -5px;
    position: absolute;
    top: -10px;
    z-index: 2;
}
.stat-bar .icon.pop {
    background-size: cover;
    width: 42px;
    height: 42px;
    left: -6px;
    top: -11px;
    font-size: 16px;
}
.option-row {
    margin-bottom: 5px;
}

/* Loader */
#loader {
    padding-top: 200px;
    text-align: center;
}
#loader .progress-bar {
    width: 100%;
    animation-name: loader-progress-bar;
    animation-duration: 4s;
}
@keyframes loader-progress-bar  {
    from {width: 0%;}
    to {width: 100%;}
}

/* Header */
#header .stats-row {
    margin: 30px 0px 10px 5px;
}
#header .energy-timer {
    text-align: center;
    font-size: 10px;
    position: absolute;
    top: 20px;
    left: 0px;
    width: 100%;
}
#header .stats-row .progress .text {
    color: white;
}
#header #money {
    padding: 15px;
}

#menu li {
    cursor: pointer;
}

/* Jobs */
#jobs .progress-bar {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

/* Hustles */
#hustles .progress-bar {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

/* Heists */
#heists .row.role {
    margin-top: 5px;
}
#heists .role-image {
    width: 60px;
    height: 60px;
    cursor: pointer;
}
#heists .role-image.placeholder {
    border: 1px dashed gray;
}

/* Travel */
#travel .map {
    background: url("../images/map.png");
    height: 353px;
    position: relative;
    width: 710px;
}
#travel .map .pointer {
    background-image: url("../images/map_pointers.png");
    cursor: pointer;
    height: 8px;
    position: absolute;
    width: 8px;
}
#travel .map .pointer.selected {
    background-position: -8px 0px;
}
#travel .map .pointer.current {
    background-position: -16px 0px;
}
#travel .city-info {
    position: relative;
}
#travel .travel-button {
    position: absolute;
    right: 0px;
    top: 2px;
    width: 120px;
}
#travel .city-stats {
    margin: 0px;
}