<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$close()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" ng-if="heistPlan.user.id !== player.getId()">The {{heistPlan.heist.name}} planned by {{heistPlan.user.first_name}} {{heistPlan.user.last_name}}. was cancelled.</h4>
    <h4 class="modal-title" ng-if="heistPlan.user.id === player.getId()">The {{heistPlan.heist.name}} you planned was cancelled.</h4>
</div>

<div class="modal-body" ng-if="sender.id === heistPlan.user.id">
    {{heistPlan.user.first_name}} {{heistPlan.user.last_name}}. decided not to go through with it.
</div>

<div class="modal-body" ng-if="sender.id !== planner.id && action === 'reject'">
    {{sender.first_name}} {{sender.last_name}}. declined the offer to join.
</div>

<div class="modal-body" ng-if="sender.id !== planner.id && action === 'cancel'">
    {{sender.first_name}} {{sender.last_name}}. changed their mind.
</div>

<div class="modal-footer">
    <div class="btn btn-primary" ng-click="$close()">Ok</div>
</div>