<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$close()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" ng-if="heistPlan.user.id !== player.getId()">The {{heist.name}} planned by {{planner.first_name}} {{planner.last_name}}. failed miserably.</h4>
    <h4 class="modal-title" ng-if="heistPlan.user.id === player.getId()">The {{heist.name}} you planned failed miserably.</h4>
</div>

<div class="modal-body">
    The cops are looking into it.
</div>

<div class="modal-footer">
    <div class="btn btn-primary" ng-click="$close()">Ok</div>
</div>