<span ng-if="!loading">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$close()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">You have been invited to a {{heistPlan.heist.name}} by {{heistPlan.user.first_name}} {{heistPlan.user.last_name}}. (<span heist-plan-chance plan="heistPlan"></span>%)</h4>
    </div>
    <div class="modal-body" style="padding-top: 15px; padding-bottom: 0px;">
        <div class="row role" ng-repeat="role in heistPlan.heist.heist_roles" ng-init="participant = heistPlan.participants[role.id]" style="padding: 5px 0px 5px 17px;">
            <div style="float: left; width: 60px; margin-right: 10px;">
                <img
                    class="role-image"
                    ng-src="https://graph.facebook.com/{{participant.facebook_id}}/picture?width=200&height=200"
                    style="cursor: default; width: 100%;"
                >
            </div>
            <div style="float: left;">
                <div>
                    <img class="inline-icon" src="/app/images/cha.png" ng-if="role.attribute === 'cha'">
                    <img class="inline-icon" src="/app/images/dex.png" ng-if="role.attribute === 'dex'">
                    <img class="inline-icon" src="/app/images/int.png" ng-if="role.attribute === 'int'">
                    <img class="inline-icon" src="/app/images/str.png" ng-if="role.attribute === 'str'">
                    {{role.name}}:

                    <b ng-if="participant && participant.id === player.getId()">You</b>
                    <b ng-if="participant && participant.id !== player.getId()">{{participant.first_name}} {{participant.last_name}}.</b>
                </div>
                <div ng-if="participant">
                    <div class="icon inline-stat-icon level-icon"><level xp="participant.xp" /></div>
                    <div class="icon inline-stat-icon cha-icon"><level xp="participant.cha_xp" /></div>
                    <div class="icon inline-stat-icon dex-icon"><level xp="participant.dex_xp" /></div>
                    <div class="icon inline-stat-icon int-icon"><level xp="participant.int_xp" /></div>
                    <div class="icon inline-stat-icon str-icon"><level xp="participant.str_xp" /></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="btn btn-primary" ng-click="accept(); $close()" ng-if="playerStatus === 'invited'">Accept</div>
        <div class="btn btn-primary" ng-click="reject(); $close()" ng-if="playerStatus === 'invited'">Reject</div>
        <div class="btn btn-primary" ng-click="$close()">Later</div>
    </div>
</span>