<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$close()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" ng-if="heistPlan.user.id !== player.getId()">The {{heist.name}} planned by {{planner.first_name}} {{planner.last_name}}. was a success!</h4>
    <h4 class="modal-title" ng-if="heistPlan.user.id === player.getId()">The {{heist.name}} you planned was a success!</h4>
</div>

<div class="modal-body" ng-if="heistPlan.user.id !== player.getId()">
    The loot was ${{reward}}. <br />
    <i>(Hopefully {{heistPlan.user.first_name}} {{heistPlan.user.last_name}}. will give you your share.)</i>
</div>

<div class="modal-body" ng-if="heistPlan.user.id === player.getId()">
    The loot was ${{reward}}. <br />
    <i>(You better pay's your crew or they might get upset.)</i>
</div>

<div class="modal-footer">
    <div class="btn btn-primary" ng-click="$close()">Ok</div>
</div>