<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Rank up!</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="stat-bar" style="width: 186px;">
                <div class="icon level-icon" ng-class="{pop: pop}" ng-if="!attribute">{{level}}</div>
                <div class="icon cha-icon" ng-class="{pop: pop}" ng-if="attribute == 'cha'">{{level}}</div>
                <div class="icon dex-icon" ng-class="{pop: pop}" ng-if="attribute == 'dex'">{{level}}</div>
                <div class="icon int-icon" ng-class="{pop: pop}" ng-if="attribute == 'int'">{{level}}</div>
                <div class="icon str-icon" ng-class="{pop: pop}" ng-if="attribute == 'str'">{{level}}</div>
                <div class="progress">
                    <div class="progress-bar xp-bar no-animation" style="width: {{xpPercentage}}%;" ng-if="!attribute"></div>
                    <div class="progress-bar no-animation" style="width: {{xpPercentage}}%;" ng-if="attribute"></div>
                    <div class="text" style="color: white;">{{xp}}/{{xpTarget}}</div>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>

    <br />

    <p ng-if="!attribute">
        You got better at everything!
    </p>
    <p ng-if="attribute == 'cha'">
        You're becoming quite the smooth talker.
    </p>
    <p ng-if="attribute == 'dex'">
        You're getting more slick and slippery.
    </p>
    <p ng-if="attribute == 'int'">
        You got more smarts.
    </p>
    <p ng-if="attribute == 'str'">
        You look even more buff now.
    </p>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="$close()">Close</button>
</div>