<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Received money from {{sender.first_name}} {{sender.last_name}}.</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-xs-2">
            <img ng-src="https://graph.facebook.com/{{sender.facebook_id}}/picture?width=200&height=200" style="width: 110px;" />
        </div>
        <div class="col-xs-8" style="padding-left: 40px;">
            <p>
                They send you <b>${{amount}}</b>
            </p>
            <p ng-if="message">
                <i>{{message}}</i>
            </p>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="$close()">Ok</button>
</div>