<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>the Hood</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <!-- endbuild -->
</head>
<body ng-app="publicApp">
<div id="fb-root"></div>
<!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<div id="main-content" class="container" ng-cloak>

    <div id="loader" ng-hide="authStatus === 'authenticated'">

        <h1>Loading...</h1>
        <div class="progress progress-striped active">
            <div class="progress-bar"></div>
            <div class="text" ng-show="authStatus == 'pending-fb-auth'">Authenticating with Facebook</div>
            <div class="text" ng-show="authStatus == 'pending-api-auth'">Authenticating with API</div>
        </div>
    </div>

    <div ng-if="authStatus === 'authenticated'">

        <div ng-if="!player.isArrested()">

            <div id="header" ng-controller="HeaderCtrl">

                <div ng-include="'views/partials/header_stats.html'"></div>

                <div ng-include="'views/partials/menu.html'"></div>
            </div>

            <div class="well">
                <div ng-view=""></div>
            </div>
        </div>

        <div ng-if="player.isArrested()">

            <div id="header" ng-controller="HeaderCtrl">

                <div ng-include="'views/partials/header_stats.html'"></div>

                <div ng-include="'views/partials/menu_disabled.html'"></div>

            </div>

            <div class="well" ng-include="'views/arrested.html'"></div>
        </div>

    </div>
</div>


<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
    !function (A, n, g, u, l, a, r) {
        A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
                    (A[l].q = A[l].q || []).push(arguments)
                }, A[l].l = +new Date, a = n.createElement(g),
                r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
    }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
</script>

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="/bower_components/angular-animate/angular-animate.js"></script>
<script src="/bower_components/angular-cookies/angular-cookies.js"></script>
<script src="/bower_components/angular-resource/angular-resource.js"></script>
<script src="/bower_components/angular-route/angular-route.js"></script>
<script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="/bower_components/angular-touch/angular-touch.js"></script>
<script src="/bower_components/angular-jwt/dist/angular-jwt.js"></script>
<script src="/bower_components/angular-ui-bootstrap-bower/ui-bootstrap-tpls.js"></script>
<!-- endbower -->
<!-- endbuild -->

<script src="/bower_components/angular-ui/build/angular-ui.js"></script>

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/jobs.js"></script>
<script src="scripts/services/jobsservice.js"></script>
<script src="scripts/services/authservice.js"></script>
<script src="scripts/services/facebookservice.js"></script>
<script src="scripts/services/playerservice.js"></script>
<script src="scripts/controllers/header.js"></script>
<script src="scripts/services/configservice.js"></script>
<script src="scripts/services/calculatorservice.js"></script>
<script src="scripts/filters/secondstodatetime.js"></script>
<script src="scripts/controllers/travel.js"></script>
<script src="scripts/services/citiesservice.js"></script>
<script src="scripts/directives/tooltip.js"></script>
<script src="scripts/controllers/hustles.js"></script>
<script src="scripts/services/hustlesservice.js"></script>
<script src="scripts/controllers/profile.js"></script>
<script src="scripts/services/usersservice.js"></script>
<script src="scripts/services/responsedatainterceptor.js"></script>
<script src="scripts/services/notifierservice.js"></script>
<script src="scripts/services/notificationsservice.js"></script>
<script src="scripts/controllers/heists.js"></script>
<script src="scripts/services/heistsservice.js"></script>
<script src="scripts/directives/heistplan.js"></script>
<script src="scripts/controllers/heistplan.js"></script>
<script src="scripts/directives/heistplanchance.js"></script>
<script src="scripts/directives/level.js"></script>
<script src="scripts/controllers/levelup.js"></script>
<!-- endbuild -->

<!-- facebook -->
<script src="https://connect.facebook.net/en_US/all.js"></script>

<!-- Hotjar Tracking Code -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:109807,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
</script>

</body>
</html>
