<h1>Busted!</h1>

<p>
    You have been arrested by the police.

    Your greasy lawyer tells you the charges won't stick, but they can legally hold you <b>{{player.getArrestedTime() | secondsToDateTime | date:'mm:ss'}}</b> longer for questioning.

    The bail is set at <b>${{player.getBailPrice()}}</b>. If you pay up they will let you go right now.
</p>

<div class="btn btn-primary" ng-hide="player.getMoney() < player.getBailPrice()" ng-click="player.bailOut()">Bail out</div>
<div class="btn btn-disabled" ng-show="player.getMoney() < player.getBailPrice()">Bail out</div>