<div id="heists">

    <div style="text-align: center;">
        <div class="btn-group" role="group">
            <button
                type="button"
                class="btn btn-default"
                ng-class="{active: tab === 'plan'}"
                ng-click="tab = 'plan'"
            >
                Plan
            </button>
            <button
                type="button"
                class="btn btn-default"
                ng-class="{active: tab === 'participate'}"
                ng-click="tab = 'participate'"
            >
                Participate
            </button>
        </div>
        <br /><br />
    </div>

    <div ng-if="tab === 'plan'">

        <div ng-if="!planningHeist" ng-include="'views/heists/options.html'"></div>

        <div ng-if="planningHeist" ng-include="'views/heists/plan.html'"></div>
    </div>

    <div ng-if="tab === 'participate'" ng-include="'views/heists/participate.html'"></div>
</div>