<div id="hustles">
    <div class="hustle option-row" ng-repeat="hustle in hustles">
        <div>
            <input type="radio" ng-model="selected.hustle" ng-value="hustle" />
            {{hustle.name}} ({{getChance(hustle)}}%)
        </div>
        <div>
            ${{hustle.money_min}} - ${{hustle.money_max}}
            <img class="inline-icon" src="/app/images/cha.png" ng-if="hustle.attribute === 'cha'">
            <img class="inline-icon" src="/app/images/dex.png" ng-if="hustle.attribute === 'dex'">
            <img class="inline-icon" src="/app/images/int.png" ng-if="hustle.attribute === 'int'">
            <img class="inline-icon" src="/app/images/str.png" ng-if="hustle.attribute === 'str'">
            <img class="inline-icon" src="/app/images/heat.png"> {{hustle.heat}}
        </div>
    </div>

    <br />
    <div class="row">
        <div class="col-xs-2">
            <div class="btn btn-primary col-xs-12" ng-hide="progress > 0 || player.getHustleTime()" ng-click="execute()">Do it!</div>
            <div class="btn btn-disabled col-xs-12" ng-hide="progress === 0 || player.getHustleTime()">Do it!</div>
            <div class="btn btn-disabled col-xs-12" ng-hide="progress > 0 || !player.getHustleTime()">
                {{player.getHustleTime() | secondsToDateTime | date:'mm:ss'}}
            </div>
        </div>
        <div class="col-xs-10">
            <div class="progress" style="margin-top: 10px;">
                <div class="progress-bar" style="width: {{progress}}%;"></div>
                <div class="text" ng-show="progress > 0">Working these streets...</div>
                <div class="text" ng-if="progress === 0 && lastResult && lastResult.success">You made ${{lastResult.reward}}</div>
                <div class="text" ng-if="progress === 0 && lastResult && lastResult.success === false">You failed</div>
            </div>
        </div>
    </div>
</div>