<div id="jobs">
    <div class="job option-row" ng-repeat="job in jobs">
        <div>
            <input type="radio" ng-model="selected.job" ng-value="job" />
            {{job.name}} ({{getChance(job)}}%)
        </div>
        <div>
            ${{job.money_min}} - ${{job.money_max}}
            <img class="inline-icon" src="/app/images/heat.png"> {{job.heat}}
        </div>
    </div>

    <br />
    <div class="row">
        <div class="col-xs-2">
            <div class="btn btn-primary col-xs-12" ng-show="progress === 0 && player.getEnergy() > 0" ng-click="execute()">Do it!</div>
            <div class="btn btn-disabled col-xs-12" ng-show="progress > 0">Do it!</div>
            <div class="btn btn-disabled col-xs-12" ng-show="player.getEnergy() === 0">No energy</div>
        </div>
        <div class="col-xs-10">
            <div class="progress" style="margin-top: 10px;">
                <div class="progress-bar" style="width: {{progress}}%;"></div>
                <div class="text" ng-show="progress > 0">Working these streets...</div>
                <div class="text" ng-if="progress === 0 && lastResult && lastResult.success">You made ${{lastResult.reward}}</div>
                <div class="text" ng-if="progress === 0 && lastResult && lastResult.success === false">You failed</div>
            </div>
        </div>
    </div>
</div>