<div class="row">
    <div class="col-xs-3">
        <img ng-src="https://graph.facebook.com/{{player.data.facebook_id}}/picture?width=200&height=200" style="width: 170px;"/>
    </div>
    <div class="col-xs-9">
        <h3>{{player.data.first_name}} {{player.data.last_name}}.</h3>

        <div class="stat-bar" style="width: 186px;">
            <div class="icon level-icon">{{player.getLevel()}}</div>
            <div class="progress">
                <div class="progress-bar xp-bar" style="width: {{player.getXpPercentage()}}%;"></div>
                <div class="text">{{player.getXp()}}/{{player.getXpTarget()}}</div>
            </div>
        </div>
    </div>
</div>

<br />

<div class="row stats-row">
    <div class="col-md-3 stat-bar">
        <div class="icon cha-icon">{{player.getAttributeLevel('cha')}}</div>
        <div class="progress">
            <div class="progress-bar" style="width: {{player.getAttributeXpPercentage('cha')}}%;"></div>
            <div class="text">{{player.getAttributeXp('cha')}}/{{player.getAttributeXpTarget('cha')}}</div>
        </div>
    </div>
    <div class="col-md-3 stat-bar">
        <div class="icon dex-icon">{{player.getAttributeLevel('dex')}}</div>
        <div class="progress">
            <div class="progress-bar" style="width: {{player.getAttributeXpPercentage('dex')}}%;"></div>
            <div class="text">{{player.getAttributeXp('dex')}}/{{player.getAttributeXpTarget('dex')}}</div>
        </div>
    </div>
    <div class="col-md-3 stat-bar">
        <div class="icon int-icon">{{player.getAttributeLevel('int')}}</div>
        <div class="progress">
            <div class="progress-bar" style="width: {{player.getAttributeXpPercentage('int')}}%;"></div>
            <div class="text">{{player.getAttributeXp('int')}}/{{player.getAttributeXpTarget('int')}}</div>
        </div>
    </div>
    <div class="col-md-3 stat-bar">
        <div class="icon str-icon">{{player.getAttributeLevel('str')}}</div>
        <div class="progress">
            <div class="progress-bar" style="width: {{player.getAttributeXpPercentage('str')}}%;"></div>
            <div class="text">{{player.getAttributeXp('str')}}/{{player.getAttributeXpTarget('str')}}</div>
        </div>
    </div>
</div>

<h4>Friends:</h4>

<div class="row" ng-repeat="friend in friends" style="padding-top: 20px;">
    <div class="col-xs-2">
        <img ng-src="https://graph.facebook.com/{{friend.facebook_id}}/picture?width=200&height=200" style="width: 110px;" />
    </div>
    <div class="col-xs-10">
        <b>{{friend.first_name}} {{friend.last_name}}.</b>
        <br />
        <div class="icon inline-stat-icon level-icon"><level xp="friend.xp" /></div>
        <div class="icon inline-stat-icon cha-icon"><level xp="friend.cha_xp" /></div>
        <div class="icon inline-stat-icon dex-icon"><level xp="friend.dex_xp" /></div>
        <div class="icon inline-stat-icon int-icon"><level xp="friend.int_xp" /></div>
        <div class="icon inline-stat-icon str-icon"><level xp="friend.str_xp" /></div>

        <div class="dropup" style="margin-top: 10px;">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Actions
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <li><a href="javascript:void(0);" ng-click="showSendMessage(friend)">Send message</a></li>
                <li><a href="javascript:void(0);" ng-click="showSendMoney(friend)">Send money</a></li>
            </ul>
        </div>
    </div>
</div>

<div ng-if="friends !== null && friends.length === 0">You have no friends playing this game.</div>

<div ng-if="friends !== null" style="text-align: center;">
    <div class="btn btn-primary" ng-click="inviteFriends()">Invite Friends</div>
</div>

<div ng-if="friends===null">Loading...</div>