<div id="travel">
    <div class="map">
        <div
            class="pointer"
            data-toggle="tooltip"
            tooltip
            title="{{city.name}}"
            ng-repeat="city in cities"
            ng-style="{left: city.x, top: city.y}"
            ng-class="{current: city.id == current.id, selected: city.id == selected.id}"
            ng-click="select(city)"
        ></div>
    </div>

    <div class="city-info" ng-if="selected">
        <div
                class="travel-button btn btn-disabled"
                ng-hide="!player.getTravelTime() || selected.id == current.id"
        >{{player.getTravelTime() | secondsToDateTime | date:'mm:ss'}}</div>

        <div
                class="travel-button btn btn-primary"
                ng-hide="player.getTravelTime() || selected.id == current.id || !canAffordTicket(selected)"
                ng-click="travelTo(selected)"
        >Travel</div>
        <div
                class="travel-button btn btn-disabled"
                ng-hide="player.getTravelTime() || selected.id == current.id || canAffordTicket(selected)"
        >Too Expensive</div>

        <h1>{{selected.name}}</h1>
        <div ng-show="selected.id == current.id">You are here</div>
        <div ng-hide="selected.id == current.id">Ticket price ${{getTicketPrice(selected)}}</div>

        <br />

        <div class="row city-stats">
            <div class="stat-bar" style="width: 186px;">
                <div class="icon heat-icon">{{player.getHeatLevel(selected)}}</div>
                <div class="progress">
                    <div class="progress-bar heat-bar" style="width: {{player.getHeatPercentage(selected)}}%;"></div>
                    <div class="text">{{player.getHeat(selected)}}/100</div>
                </div>
            </div>
        </div>
    </div>
</div>
