<div class="heist option-row" ng-repeat="heist in heists">
    <h4>
        <input type="radio" ng-model="heistPlan.heist" ng-value="heist" />
        {{heist.name}}
        <span ng-if="heistPlan.heist === heist && teamIsComplete()">(<span heist-plan-chance plan="heistPlan"></span>%)</span>
    </h4>
    <div>
        ${{heist.money_min}} - ${{heist.money_max}}
        <img class="inline-icon" src="/app/images/heat.png"> {{heist.heat}}
    </div>

    <div class="row role" ng-repeat="role in heist.heist_roles" ng-show="heistPlan.heist === heist">
        <div class="col-xs-1">
            <img class="role-image placeholder" src="/app/images/transparent_pixel.png" ng-hide="heistPlan.participants[role.id]" ng-click="showParticipantModal(role)">
            <img class="role-image" ng-src="https://graph.facebook.com/{{heistPlan.participants[role.id].facebook_id}}/picture?width=200&height=200" ng-if="heistPlan.participants[role.id] && heistPlan.participants[role.id].id === player.getId()" style="cursor: default;">
            <img class="role-image" ng-src="https://graph.facebook.com/{{heistPlan.participants[role.id].facebook_id}}/picture?width=200&height=200" ng-if="heistPlan.participants[role.id] && heistPlan.participants[role.id].id !== player.getId()" ng-click="showParticipantModal(role)">
        </div>
        <div class="col-xs-11" style="padding-left: 20px;">
            <div>
                <img class="inline-icon" src="/app/images/cha.png" ng-if="role.attribute === 'cha'">
                <img class="inline-icon" src="/app/images/dex.png" ng-if="role.attribute === 'dex'">
                <img class="inline-icon" src="/app/images/int.png" ng-if="role.attribute === 'int'">
                <img class="inline-icon" src="/app/images/str.png" ng-if="role.attribute === 'str'">
                {{role.name}}:

                <b ng-if="heistPlan.participants[role.id] && heistPlan.participants[role.id].id === player.getId()">You</b>
                <b ng-if="heistPlan.participants[role.id] && heistPlan.participants[role.id].id !== player.getId()">{{heistPlan.participants[role.id].first_name}} {{heistPlan.participants[role.id].last_name}}.</b>
            </div>
            <div ng-if="heistPlan.participants[role.id]">
                <div class="icon inline-stat-icon level-icon"><level xp="heistPlan.participants[role.id].xp" /></div>
                <div class="icon inline-stat-icon cha-icon"><level xp="heistPlan.participants[role.id].cha_xp" /></div>
                <div class="icon inline-stat-icon dex-icon"><level xp="heistPlan.participants[role.id].dex_xp" /></div>
                <div class="icon inline-stat-icon int-icon"><level xp="heistPlan.participants[role.id].int_xp" /></div>
                <div class="icon inline-stat-icon str-icon"><level xp="heistPlan.participants[role.id].str_xp" /></div>
            </div>
        </div>
    </div>
</div>

<br />
<div class="btn btn-primary" ng-show="teamIsComplete()" ng-click="sendInvitations()">Send invitations</div>
<div class="btn btn-disabled" ng-hide="teamIsComplete() || false">Send invitations</div>
<div class="btn btn-disabled" ng-hide="teamIsComplete() || true">TODO: heist timer</div>