<div class="heist option-row" ng-repeat="heistPlan in heistPlans" ng-controller="HeistplanCtrl">

    <span ng-if="!loading">
        <h4>
            {{heistPlan.heist.name}} planned by {{heistPlan.user.first_name}} {{heistPlan.user.last_name}}. (<span heist-plan-chance plan="heistPlan"></span>%)
        </h4>

        <div class="row role" ng-repeat="role in heistPlan.heist.heist_roles" ng-init="participant = heistPlan.participants[role.id]" style="padding: 5px 0px 5px 17px;">
            <div style="float: left; width: 60px; margin-right: 10px;">
                <img
                        class="role-image"
                        ng-src="https://graph.facebook.com/{{participant.facebook_id}}/picture?width=200&height=200"
                        style="cursor: default; width: 100%;"
                >
            </div>
            <div style="float: left;">
                <div>
                    <img class="inline-icon" src="/app/images/cha.png" ng-if="role.attribute === 'cha'">
                    <img class="inline-icon" src="/app/images/dex.png" ng-if="role.attribute === 'dex'">
                    <img class="inline-icon" src="/app/images/int.png" ng-if="role.attribute === 'int'">
                    <img class="inline-icon" src="/app/images/str.png" ng-if="role.attribute === 'str'">
                    {{role.name}}:

                    <b ng-if="participant && participant.id === player.getId()">You</b>
                    <b ng-if="participant && participant.id !== player.getId()">{{participant.first_name}} {{participant.last_name}}.</b>
                </div>
                <div ng-if="participant">
                    <div class="icon inline-stat-icon level-icon"><level xp="participant.xp" /></div>
                    <div class="icon inline-stat-icon cha-icon"><level xp="participant.cha_xp" /></div>
                    <div class="icon inline-stat-icon dex-icon"><level xp="participant.dex_xp" /></div>
                    <div class="icon inline-stat-icon int-icon"><level xp="participant.int_xp" /></div>
                    <div class="icon inline-stat-icon str-icon"><level xp="participant.str_xp" /></div>
                </div>
            </div>
        </div>

        <div class="btn btn-primary" ng-click="accept()" ng-if="playerStatus === 'invited'">Accept</div>
        <div class="btn btn-primary" ng-click="reject()" ng-if="playerStatus === 'invited'">Reject</div>
        <div class="btn btn-primary" ng-click="cancel()" ng-if="playerStatus === 'accepted'">Cancel</div>
    </span>

    <br /><br />
</div>

<div ng-if="heistPlans.length === 0">
    You have not been asked to participate in any heists. Perhaps you could plan your own.
</div>