<div class="row stats-row">
    <div class="col-xs-3 stat-bar">
        <div class="icon level-icon">{{player.getLevel()}}</div>
        <div class="progress">
            <div class="progress-bar xp-bar" style="width: {{player.getXpPercentage()}}%;"></div>
            <div class="text">{{player.getXp()}}/{{player.getXpTarget()}}</div>
        </div>
    </div>

    <div class="col-xs-3 stat-bar">
        <div class="icon energy-icon"></div>
        <div class="progress">
            <div class="progress-bar energy-bar" style="width: {{player.getEnergyPercentage()}}%;"></div>
            <div class="text">{{player.getEnergy()}}/30</div>
        </div>
        <div class="energy-timer" ng-show="energyTime">{{energyTime | secondsToDateTime | date:'mm:ss'}}</div>
    </div>

    <div class="col-xs-3 stat-bar">
        <div class="icon heat-icon">{{player.getHeatLevel()}}</div>
        <div class="progress">
            <div class="progress-bar heat-bar" style="width: {{player.getHeatPercentage()}}%;"></div>
            <div class="text">{{player.getHeat()}}/100</div>
        </div>
    </div>
</div>