<div class="navbar navbar-default">
    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <div id="money">
                    ${{player.getMoney()}}
                </div>
            </li>
        </ul>
    </div>
</div>