<div class="navbar navbar-default">
    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul id="menu" class="nav navbar-nav">
            <li ng-class="{active: $location.path() == '/'}">
                <a href="#/">Jobs</a>
            </li>
            <li ng-class="{active: $location.path() == '/hustles'}">
                <a href="#/hustles">Hustles</a>
            </li>
            <li ng-class="{active: $location.path() == '/heists'}">
                <a href="#/heists">Heists</a>
            </li>
            <li ng-class="{active: $location.path() == '/travel'}">
                <a href="#/travel">Travel</a>
            </li>
            <li ng-class="{active: $location.path() == '/profile'}">
                <a href="#/profile">Profile</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <div id="money">
                    ${{player.getMoney()}}
                </div>
            </li>
        </ul>
    </div>
</div>