<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Choose a {{role.name}}</h4>
</div>
<div class="modal-body" ng-show="loading">
    loading...
</div>
<div class="modal-body" ng-hide="loading">
    <div class="row option-row" ng-repeat="user in options" ng-click="$close(user)" style="cursor: pointer">
        <div class="col-xs-1">
            <img class="role-image" ng-src="https://graph.facebook.com/{{user.facebook_id}}/picture?width=200&height=200" style="width: 60px;">
        </div>
        <div class="col-xs-11" style="padding-left: 30px;">
            <div>
                <b ng-if="user && user.id === player.getId()">You</b>
                <b ng-if="user && user.id !== player.getId()">{{user.first_name}} {{user.last_name}}.</b>
            </div>

            <div>
                <div class="icon inline-stat-icon level-icon"><level xp="user.xp" /></div>
                <div class="icon inline-stat-icon cha-icon"><level xp="user.cha_xp" /></div>
                <div class="icon inline-stat-icon dex-icon"><level xp="user.dex_xp" /></div>
                <div class="icon inline-stat-icon int-icon"><level xp="user.int_xp" /></div>
                <div class="icon inline-stat-icon str-icon"><level xp="user.str_xp" /></div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="$dismiss()">Cancel</button>
</div>