<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Send money to {{user.first_name}} {{user.last_name}}.</h4>
</div>
<div class="modal-body">
    Amount:
    <input type="number" class="form-control" placeholder="0" ng-model="amount" autofocus />
    <br />
    Message:
    <input type="text" class="form-control" placeholder="Let them know why" ng-model="message" />
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="$dismiss()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="$close({amount: amount, message: message})" ng-if="amount > 0 && amount <= player.getMoney()">Send</button>
    <button type="button" class="btn btn-disabled" ng-hide="amount > 0 && amount <= player.getMoney()">Send</button>
</div>