<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Send money to {{user.first_name}} {{user.last_name}}.</h4>
</div>
<div class="modal-body">
    Message:
    <input type="text" class="form-control" placeholder="What have you got to say" ng-model="message" />
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="$dismiss()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="$close(message)" ng-if="message">Send</button>
    <button type="button" class="btn btn-disabled" ng-hide="message">Send</button>
</div>